body {
	background-color: #FAFAFA; /* cosmetic */
	margin: 0px; /* required */

	font-family: "Trebuchet MS", sans-serif;
	letter-spacing: 1em

	color: #333333;
	text-decoration: none;
	width: 100%;
	margin: auto;
	text-align: center;
}

p {
	font-size: 1.3em;
}

h1 {
	margin: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid black;
	width: 600px;
	display: inline-block;
	padding-top: 20px;
}

 .navbar {
  min-height: 65px;
}

.navbar-brand {
  padding: 0 15px;
  height: 50px;
  line-height: 80px;
  font-size: 2em;
  font-family: "Trebuchet MS", sans-serif;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
    font-size: 1.5em;
    font-family: "Trebuchet MS", sans-serif;
  }
}

.carousel {
	padding: 2px;
	background-color: #FAFAFA;
	margin-bottom: 25px;

	border-style: dashed;
	border-color: #333
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: #333;

}

.carousel-indicators li {
    background-color: #666;    
}
.carousel-indicators .active {
    background-color: #333;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;

    color: #666666;
    text-shadow: none;
}

.caption-below { 
	text-align: center;
}

.caption-below h1 {
	font: bold large;
}
.caption-below p {
	margin-left: 20%;
	margin-right: 20%;
	font: small;
}