
body {
    background-color: #FAFAFA;
    max-width: 54em;
    margin: 2em 2em 4em;
}

* {
    font-family: 'Lora', serif !important;
    line-height: 1.8 !important;
    color: #360038;
}

br {
    line-height: 300% !important;
    display: block;
}

#tina {
    display: inline-block;
    font-family: 'Tangerine', cursive !important;
    font-size: 7.2rem;
    margin-left: 0.1em;
}

.title {
    font-family: 'Tangerine', cursive !important;
    font-size: 4.2rem;
}

.summary {
    font-size: 1.6rem;
    margin-bottom: 1em;
}

.itinerary {
    list-style-type: none;
    padding: 2em 0;
}

.i-item {
    background-blend-mode: screen;
    background-color: #FFD9DF;
    background-image: url('bg.jpg');
    border-left: 0.2em solid rgba(54, 0, 56, 0.6);
    border-radius: 0 30px 30px 0;
    box-shadow: 2px 3px 18px rgb(163, 0, 45, 0.3);
    margin-bottom: 2em;
    padding: 2em 1em;
    transition: all 0.3s;
}

.item-header {
    font-family: 'Tangerine', cursive !important;
    font-size: 3.6rem;
    letter-spacing: 1px;
}

.item-summary {
    display: block;
    font-size: 1.2rem;
    padding-left: 1em;
}

.link {
    font-family: 'Tangerine', cursive !important;
    font-size: 2.4rem;
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    display: inline-block;
    position: relative;
}

.link::after {
    content: "";
    height: 2px;
    background-color: rgba(54, 0, 56, 0.6);
    position: absolute;
    bottom: 30%;
    left: 0;
    right: 0;
}